<div class="card">
    <div class="card-body px-0 pb-0">
        <div class="d-flex justify-content-start align-items-center w-100">
            <div class="d-flex justify-content-start">
                <h5 class="card-title ps-2 me-2">Cerca</h5>
            </div>
            <div class="ms-2">
                <input type="text" 
                    class="form-control search-input" 
                    title="Cerca per data, concepte o import" 
                    placeholder="Data, concepte o import"
                    (ngModelChange)="this.searchTextUpdate.next($event)"
                    [(ngModel)]="searchText"
                    #searchInput>
                    
            </div>
            
            <div class="amount me-2 ms-auto"
                [ngClass]="{'text-danger': importTotal < 0, 'text-success': importTotal > 0}">
                {{importTotal | number:'1.2':'es'}}
            </div>
        </div>
        <p class="card-text">
            <app-bs-moviments-list
                [moviments]="items"
                [showBorder]="false"
                [showHover]="true"
                [showHeader]="false"
                [showBankEntitySymbol]="true"></app-bs-moviments-list>
        </p>
      </div>
</div>