<div class="card">
    <div class="card-body px-0 pb-0 pt-2">
        <div class="d-flex flex-column justify-content-start align-items-center w-100">

            <!--
            <div class="d-flex justify-content-start">
                <h5 class="card-title ps-2 me-2">Cerca</h5>
            </div>
            <div class="ms-2">
                <input type="text" 
                    class="form-control search-input" 
                    title="Cerca per data, concepte o import" 
                    placeholder="Data, concepte o import"
                    (ngModelChange)="this.searchTextUpdate.next($event)"
                    [(ngModel)]="searchText"
                    #searchInput>
                    
            </div>
            -->
            <div class="d-flex justify-content-between align-items-center w-100 px-2 py-2 amount">
                <h3>Resultats cerca</h3>
                <div>
                    <span class="me-2">Balanç: </span>
                    <span [ngClass]="{'text-danger': importTotal < 0, 'text-success': importTotal > 0}">{{importTotal | number:'1.2':'es'}}</span>
                </div>
            </div>
        </div>
        <p class="card-text">
            <app-bs-moviments-list
                [moviments]="items"
                [showBorder]="false"
                [showHover]="true"
                [showHeader]="false"
                [showBankEntitySymbol]="true"></app-bs-moviments-list>
        </p>
      </div>
</div>