.dashboard-header {
    border-bottom: 1px solid #CCC;
    background-color: black;
    color: #CCC;
}

.dropdown-item {
    font-size: 14px;
}

.modal-dialog {
    max-width: 80%;
    max-height: 80%;
    margin: 1.75rem auto;
}