<div class="dashboard-header d-flex justify-content-between px-3 py-2"  >
    <div class="d-flex align-items-center">
        <h3 class="mb-0">Anàlisi moviments</h3>
        <div *ngIf="isDemo">
            <span class="demo-badge badge bg-warning text-dark ms-2">Demo mode</span>
        </div>
    </div>
    <div class="d-flex justify-content-end align-items-center">

      <!-- Search field -->
      <input type="text" 
        class="form-control search-input me-3" 
        title="Cerca per data, concepte o import" 
        placeholder="Data, concepte o import"
        (ngModelChange)="this.searchTextUpdate.next($event)"
        [(ngModel)]="searchText"
        [readOnly]="actionInCourse"
        #searchInput>
        <i class="fas fa-spinner fa-spin text-danger"></i>
        <!-- Search field -->

      <!-- Totals + page options -->
      <div class="d-flex align-items-center justify-content-end">
        <div class="me-4">Total moviments: <span *ngIf="moviments">{{moviments.length | number:'1.0':'es'}}</span></div>
        <div class="dropdown">
          <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Accions
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#importModal" href="#">Importar moviments</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="reset()" href="javascript://">Reset moviments</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#conceptesMappersModal" href="#">Gestió de conceptes</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End Totals + page options -->
    </div>
</div>
  
<!-- Modal import moviments -->
<div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="importModalLabel">Sel.lecciona el fitxer</h5>
            </div>
            <div class="modal-body">
                <app-bs-file-loader 
                    (onFileLoadedEmitter)="onFileLoadEmit($event)"
                    (onFileLoaderStartedEmitter)="onFileLoadStartEmit($event)"
                    (onFileLoaderFinishedEmitter)="onFileLoadFinishEmit($event)"></app-bs-file-loader>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tancar</button>
            </div>
        </div>
    </div>
  </div>

  <!-- Modal conceptes -->
<div class="modal fade" id="conceptesMappersModal" tabindex="-1" aria-labelledby="conceptesMappersModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="conceptesMappersModalLabel">Gestió de mappers conceptes</h5>
            </div>
            <div class="modal-body">
                <app-bs-concepts-layout
                  (onConceptMappersChangeEmitter)="onSaveConceptMappersEmit($event)"></app-bs-concepts-layout>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tancar</button>
            </div>
        </div>
    </div>
  </div>
