<div class="concept-mappers-list d-flex">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>
                    <span (click)="sort('matching')">Concepte original</span>
                    <input type="text" 
                        class="form-control search-input" 
                        title="Cerca" 
                        placeholder="Cerca"
                        [(ngModel)]="filterInfo.original"
                        value="{{filterInfo.original}}"
                        #searchOriginalInput>
                </th>
                <th>
                    <span (click)="sort('output')">Concepte de sortida</span>
                    <input type="text" 
                        class="form-control search-input" 
                        title="Cerca" 
                        placeholder="Cerca"
                        [(ngModel)]="filterInfo.output"
                        value="{{filterInfo.output}}"
                        #searchOutputInput>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let conceptMapper of conceptMappersList; let i = index;">
                <td>
                    <span (click)="editConceptMapper(i)" [hidden]="conceptMapperEditIndex===i">{{conceptMapper.matching}}</span>
                    <input class="form-control" (change)="saveConceptMapper(i, 'matching', $event)" [hidden]="conceptMapperEditIndex!==i" value="{{conceptMapper.matching}}" [ngModel]="conceptMapper.matching" type="text" />
                </td>
                <td>
                    <span (click)="editConceptMapper(i)" [hidden]="conceptMapperEditIndex===i">{{conceptMapper.output}}</span>
                    <input class="form-control" (change)="saveConceptMapper(i, 'output', $event)" [hidden]="conceptMapperEditIndex!==i" value="{{conceptMapper.output}}" [ngModel]="conceptMapper.output" type="text" />
                </td>
            </tr>
        </tbody>
    </table>
</div>