.concept-mappers-list {
    max-height: calc(100vh - 200px);
    overflow: auto;
}

th {
    span {
        cursor: pointer;
    }
    input.form-control {
        font-size: 12px;
    }
}

td {
    input {
        padding: 0px 3px;
        font-size: 13px;

        &.upper {
            text-transform: uppercase;
        }
    }
    fa-icon {
        cursor: pointer;
    }
}