<div class="d-flex flex-column">
    <div class="dashboard-header">
        <app-bs-dashboard-header 
            (onFileLoadedEmitter)="onFileLoaded($event)"
            (onFileLoaderStartedEmitter)="onLoadFilesInit($event)"
            (onFileLoaderFinishedEmitter)="onLoadFilesEnd($event)"
            (onResetDemoEmitter)="getStoredMoviments()"
            (onSaveConceptMappersEmitter)="getStoredMoviments()"
            (onFilterEmitter)="doFilter($event)"
            [(actionInCourse)]="actionInCourse"
            [moviments]="movimentsAll">
        </app-bs-dashboard-header>
    </div>

    <ng-container *ngIf="searchText && movimentsAll && movimentsAll.length > 0">
        <div class="dashboard-content px-3 pt-4 pb-2">
            <div class="row">
                <div class="col-4">
                    <app-bs-search-moviments
                        [moviments]="movimentsAll"
                        [searchText]="searchText"
                        (filteredMovimentsEmitter)="setFilteredMoviments($event)"
                        (actionInCourseEmitter)="setActionInCourse($event)">
                    </app-bs-search-moviments>
                </div>
                <div class="col-5">
                    <app-bs-moviments-list-chart
                        [moviments]="movimentsFiltrats"></app-bs-moviments-list-chart>
                </div>
                <div class="col-3">
                    <div class="w-100">
                        <app-bs-last-moviments
                            [moviments]="movimentsFiltrats">
                        </app-bs-last-moviments>
                    </div>
                    <div class="mt-2 w-100">
                        <app-bs-top-outgoing
                            [moviments]="movimentsFiltrats">
                        </app-bs-top-outgoing>
                    </div>
                    <div class="mt-2 w-100">                        
                        <app-bs-top-incoming
                            [moviments]="movimentsFiltrats">
                        </app-bs-top-incoming>
                    </div>                    
                </div>
            </div>    
        </div>
    </ng-container>

    <ng-container *ngIf="movimentsAll && movimentsAll.length === 0">
        <div class="dashboard-content px-3 pt-4 pb-2">
            <div class="d-flex w-100">Encara no has pujat moviments</div>
        </div>
    </ng-container>
    
    <div class="dashboard-footer">
        <app-bs-dashboard-footer [moviments]="movimentsAll"></app-bs-dashboard-footer>
    </div>
</div>

